<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/js/vue.js"></script>
</head>
<body>
<div id="app">
    <div v-text="username"></div>
    城市：
    <span v-html="city"></span>
    地址：{{address}}
    <div>
        级别：{{level()}}
    </div>
    <div>
        详细地址：{{detail}}
    </div>
    <div>
        过滤器：{{age|judgeAge}}
    </div>
    <!--条件判断-->
    <div v-if="type>='90'">
        优秀
    </div>
    <div v-else-if="type<90&type>=80">
        良
    </div>
    <div v-else-if="type<80&type>=70">
        中等
    </div>
    <div v-else-if="type<70&type>=60">
        及格
    </div>
    <div v-else-if="type<60">
        不及格
    </div>
    <div v-show="showUser">{{username}}</div>
    <div>
        <ul>
            <li v-for="(v,k) in user">
                {{k}}:{{v}}
            </li>
        </ul>
    </div>
    <p v-custom-color="{color:'green'}">us-web</p>
</div>

<script>
    //自定义指令
    Vue.directive('custom-color', function (el, binding) {
        el.style.color = binding.value.color
    });
    let vm = new Vue({
        el: "#app",
        data: {
            username: "zhsheng",
            province: "AnHui",
            country: "China",
            city: "<h3>合肥</h3>",
            age: 12,
            detail: "",
            type: 80,
            showUser: true,
            user: {
                name: "andy",
                age: 12
            }
        },
        //生命周期函数
        created: function () {
            this.detail = this.country + this.province
        },
        //方法
        methods: {
            level: function () {
                if (this.age > 18) {
                    return "成人"
                } else {
                    return "少年"
                }
            }
        },
        //计算属性，对依赖的属性进行了缓存
        computed: {
            address: {
                get: function () {
                    return this.country + this.province
                },
                set: function (value) {
                    let arr = value.split(",");
                    this.country = arr[0];
                    this.province = arr[1];
                }
            }
        },
        //watch,监听的属性变化了才会执行
        watch: {
            country: function () {
                this.detail = this.country + this.province
            },
            province: function () {
                this.detail = this.country + this.province
            }
        },
        filters: {
            judgeAge: function (value) {
                if (value > 18) {
                    return value + ",成年人"
                } else {
                    return value + ",未成年人"
                }
            }
        }
    });
    Vue.set(vm.user, "address", "hefei");
</script>
</body>
</html>